<section id="section-about" class="clearfix about page-section">

    <div class="heading center">
        <h2 class="heading__title">Meet Our Doctors</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="owl-carousel js-team-carousel">
                {% for person in team %}
                    <div class="team-card center" data-toggle="modal" data-target="#modal--{{ person.modalTarget }}">
                        <img src="/assets/team/{{ person.image }}.jpg" alt="" class="team-card__image">
                        <div class="text">
                            <h5 class="team-card__name">{{ person.name }}</h5>
                            <p class="team-card__click-more">Click to Learn More</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}

</section>

