<section id="section-insurance" class="page-section">
    <div class="flex__wrapper">
        <div class="flex__item flex__item--image">
            <img src="/assets/insurance-photo.jpg" alt="Happy dental patients">
        </div>
        <div class="flex__item flex__item--copy">
            <h2 class="title">No Insurance?</h2>
            <h3 class="sub-title">our patients don’t need it!</h3>
            <h4 class="care-text">Get your preventive care <br>for a low monthly fee</h4>
            <p class="insurance-text">Exclusively for our uninsured patients.</p>
            <p class="insurance-text">Make easy monthly payments for your preventive care.</p>
            <p class="insurance-text">Save money on your treatment.</p>
            <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
        </div>
    </div>
</section>
