<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slides/slide1.jpg" style="width:100%;height:auto;"
             alt="Experience you can trust, meet Dr. James Tong">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix"
         data-autoplay="8000">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide1"
                 style="background: url('assets/slides/slide1.jpg') 0 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right">
                        <h1 class="slide__title">Experience<br>You Can Trust</h1>
                        <h2 class="slide__copy">Meet <strong>Dr. James Tong</strong>, Clarksburg’s trusted choice for cosmetic dentistry,
                            family dentistry, and orthodontics</h2>
                        <a href="#" class="btn" data-scrollto="#section-specials" data-offset="98">New Patient
                            Specials</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2"
                 style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right slide">
                        <h2 class="slide__title">See What Our <br>Patients Are Saying</h2>
                        <img src="/assets/stars.png" alt="Five stars" class="slide__image">
                        <h3 class="slide__copy">“Extremely kid-friendly environment with all of the latest technologies, and a very understanding dentist.” &#8209;James C.</h3>
                        <a href="#" class="btn" data-scrollto="#section-reviews" data-offset="98">Read Our Reviews</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3"
                 style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right slide">
                        <h2 class="slide__title">Expert Care for<br>the Whole Family</h2>
                        <h3 class="slide__copy">Clarksburg trusts Dr. James Tong for cosmetic dentistry, family dentistry, and&nbsp;orthodontics</h3>
                        <a href="#" class="btn" data-scrollto="#section-specials" data-offset="98">New Patient Specials</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
