<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/lewis-mobile-slide.jpg" style="width:100%;height:auto;"
             alt="Dr. Andrew Lewis, changing lives one smile at a time">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix"
         data-autoplay="8000">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide1"
                 style="background: url('assets/slides/slide1.jpg') 0 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <img src="/assets/slides/slide1-text.png"
                             alt="Dr. Andrew Lewis changing lives one smile at a time">
                        <h5 class="slide__copy">Now Welcoming New Patients</h5>
                        <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient
                            Offers</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2"
                 style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <h2 class="slide__title">NO INSURANCE?</h2>
                        <h3 class="slide__byline">our patients don’t need it!</h3>
                        <h3 class="slide__preventative">Get your preventive care<br>for a low monthly fee</h3>
                        <a href="#" class="btn" data-scrollto="#section-insurance" data-offset="80">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3"
                 style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <h2 class="slide__title">READ WHAT OUR</h2>
                        <h3 class="slide__byline">patients are saying!</h3>
                        <img src="assets/slides/slide-stars.png" alt="Five Stars" class="slide__stars">
                        <p class="slide__copy">“Dr. Lewis is absolutely amazing! He is dedicated to his profession and
                            is an absolutely amazing craftsman when it comes to cosmetic dentistry. I HIGHLY, HIGHLY
                            recommend Dr. Andrew Lewis.” -Matthew</p>
                        <a href="#" class="btn" data-scrollto="#section-reviews" data-offset="80">Read More Reviews</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
