<section id="section-specials" class="parallax page-section">
    <div class="heading center container">
        <h2 class="heading__title">Limited Time Summer Specials</h2>
        <h3 class="heading__byline">Offers end September 20, 2017</h3>
        <h3 class="heading__sub-title">New Uninsured Patients Only</h3>
    </div>

    <div class="container">
        <div class="specials__card-wrapper">

            {#Card One#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h4 class="specials-card__title">New Patient  Dental<br>Cleaning & Exam</h4>
                    <h2 class="specials-card__cost"> 99</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings">Save $200</p>
                    <p class="specials-card__copy">Includes comprehensive exam by the doctor, necessary x-rays and professional dental cleaning. <strong>Periodontal therapy requires an additional fee.</strong></p>
                    <p class="specials-card__codes">(D0150, D0274, D1110)</p>
                </div>
            </div>

            {#Card Two#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h4 class="specials-card__title">New Children’s Exam<br>Cleaning & Fluoride</h4>
                    <h2 class="specials-card__cost"> 99</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings">Save $214</p>
                    <p class="specials-card__copy">New patients age 12 and under get a professional dental cleaning, fluoride treatment, needed bitewing x-rays, pre-orthodontic treatment evaluation, and a doctor’s exam.</p>
                    <p class="specials-card__codes">(D0150, D0272, D1120, D1208, D8660)</p>
                </div>
            </div>

            {#Card Three#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h4 class="specials-card__title">Second Opinion or<br>Orthodontic Consultation</h4>
                    <h2 class="specials-card__cost specials-card__cost--free">FREE</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings"> </p>
                    <p class="specials-card__copy">Need a second opinion? Interested in orthodontics for your child? Trying to find the right dentist? Explore your options with us!</p>
                    <p class="specials-card__copy">Call us today for a  complimentary&nbsp;consultation.</p>
                </div>
            </div>

        </div>
    </div>
</section>