<section id="section-reviews" class="reviews page-section">
    <div class="container">
        <div class="row">
            <div class="heading center">
                <h2 class="heading__title">See What Our Patients Are Saying</h2>
                <h3 class="heading__subtitle">Real reviews from some of our patients</h3>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="owl-carousel js-reviews-carousel">
           {% for review in reviews %}
                <div class="review center">
                    <img src="/assets/stars.png" alt="Five Stars!" class="review__stars">
                    <h6 class="review__copy">“ {{ review.text }}”</h6>
                    <p class="review__reviewer">- {{ review.quotee }}</p>
                </div>
           {% endfor %}
        </div>

    </div>
</section>