<section id="section-reviews" class="parallax page-section">
    <div class="container center">
        <h2 class="heading">Read What Our Patients&nbsp;Are&nbsp;Saying</h2>
    </div>

    <div class="container">
        <div class="row center">
            <div id="bf-revz-widget-{{ birdeye }}" style="-webkit-overflow-scrolling:touch;">
            </div>
            <div class="bf-dv"><span class="bf-spn">Reviews powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
        </div>
    </div>

</section>