<div class="hours">
    <h6 class="hours__title">Hours</h6>
    <ul class="hours__list">
        <li class="hours__line">
            <h6 class="hours__day">Mon</h6>
            <h6 class="hours__hours">Closed</h6>
        </li>
        <li class="hours__line">
            <h6 class="hours__day">Tue</h6>
            <h6 class="hours__hours">8:00am - 6:00pm</h6>
        </li>
        <li class="hours__line">
            <h6 class="hours__day">Wed</h6>
            <h6 class="hours__hours">Closed</h6>
        </li>
        <li class="hours__line">
            <h6 class="hours__day">Thu</h6>
            <h6 class="hours__hours">9:00am - 6:00pm</h6>
        </li>
        <li class="hours__line">
            <h6 class="hours__day">Fri</h6>
            <h6 class="hours__hours">8:00am - 2:00pm</h6>
        </li>
        <li class="hours__line">
            <h6 class="hours__day">Sat</h6>
            <h6 class="hours__hours">8:00am - 2:00pm</h6>
        </li>
    </ul>
</div>