<div class="associations-carousel">
    <div class="container-fluid">
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="assets/associations/0_m-dentistry.jpg" alt="M Dentisrty"></div>
                <div class="logo--wrapper"><img src="assets/associations/1_wsda.jpg" alt="WSDA"></div>
                <div class="logo--wrapper"><img src="assets/associations/2_skcds.jpg" alt="SKCDS"></div>
                <div class="logo--wrapper"><img src="assets/associations/3_subrisi.jpg" alt="Subrisi"></div>
                <div class="logo--wrapper"><img src="assets/associations/4_protea_dental_studio.jpg" alt="Protea Dental Studio"></div>
                <div class="logo--wrapper"><img src="assets/associations/5_kois-study-group.jpg" alt="Kois Study Group"></div>
                <div class="logo--wrapper"><img src="assets/associations/6_kois_mentor_center.jpg" alt="Kois Mentor Center"></div>
                <div class="logo--wrapper"><img src="assets/associations/7_give-smile.jpg" alt="Give a Smile"></div>
                <div class="logo--wrapper"><img src="assets/associations/8_aoo.jpg" alt="AOO"></div>
                <div class="logo--wrapper"><img src="assets/associations/9_agd.jpg" alt="American General Dentistry"></div>
                <div class="logo--wrapper"><img src="assets/associations/10_ada.jpg" alt="American Dental Academy"></div>
                <div class="logo--wrapper"><img src="assets/associations/11_aacd.jpg" alt="AACD"></div>
                <div class="logo--wrapper"><img src="assets/associations/12_wsda.jpg" alt="WSDA"></div>
            </div>
        </div>
    </div>
</div>
