<div class="owl-carousel js-tour-carousel tour">
    <div class="tour__item" data-lightbox-pointer="1"><img src="/assets/tour/01.jpg" alt="Outside our office"></div>
    <div class="tour__item" data-lightbox-pointer="2"><img src="/assets/tour/02.jpg" alt="Our waiting room"></div>
    <div class="tour__item" data-lightbox-pointer="3"><img src="/assets/tour/03.jpg" alt="Computers and games while you wait"></div>
    <div class="tour__item" data-lightbox-pointer="4"><img src="/assets/tour/04.jpg" alt="Kid friendly office with Winnie the Pooh on the wall"></div>
    <div class="tour__item" data-lightbox-pointer="5"><img src="/assets/tour/05.jpg" alt="Kid friendly office with Mickey the Mouse on the wall"></div>
    <div class="tour__item" data-lightbox-pointer="6"><img src="/assets/tour/06.jpg" alt="Very clean and stylish restroom"></div>
    <div class="tour__item" data-lightbox-pointer="7"><img src="/assets/tour/07.jpg" alt="Modern dentistry tools"></div>
</div>

<div data-lightbox="gallery" class="hidden">
    <a href="/assets/tour/01.jpg" data-lightbox="gallery-item" data-lightbox-target="1"><img src="/assets/tour/01.jpg" alt="Outside our office"></a>
    <a href="/assets/tour/02.jpg" data-lightbox="gallery-item" data-lightbox-target="2"><img src="/assets/tour/02.jpg" alt="Our waiting room"></a>
    <a href="/assets/tour/03.jpg" data-lightbox="gallery-item" data-lightbox-target="3"><img src="/assets/tour/03.jpg" alt="Computers and games while you wait"></a>
    <a href="/assets/tour/04.jpg" data-lightbox="gallery-item" data-lightbox-target="4"><img src="/assets/tour/04.jpg" alt="Kid friendly office with Winnie the Pooh on the wall"></a>
    <a href="/assets/tour/05.jpg" data-lightbox="gallery-item" data-lightbox-target="5"><img src="/assets/tour/05.jpg" alt="Kid friendly office with Mickey the Mouse on the wall"></a>
    <a href="/assets/tour/06.jpg" data-lightbox="gallery-item" data-lightbox-target="6"><img src="/assets/tour/06.jpg" alt="Very clean and stylish restroom"></a>
    <a href="/assets/tour/07.jpg" data-lightbox="gallery-item" data-lightbox-target="7"><img src="/assets/tour/07.jpg" alt="Modern dentistry tools"></a>
</div>