#section-about {
  .about__part-one {
    padding: 30px 0 45px;

    .heading {
      &__title {
        color: #696968;
      }
    }

    img {
      padding-bottom: 15px;

      @media (min-width: 480px) {
        float: left;
        padding-right: 15px;
        padding-bottom: 5px;
      }
    }
  }

  .about__copy--text {
    color: #5f5f5e;
    font-size: 16px;
  }

  @media (min-width: 768px) {
    .about__part-one {
      background: linear-gradient(to right, #19a8cf 0%, #19a8cf 25%, white 25%, white 100%);

      &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          padding-right: 30px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .about__part-one {
      background: linear-gradient(to right, #19a8cf 0%, #19a8cf 20%, white 20%, white 100%);
    }
  }

  @media (min-width: 1600px) {
    .about__part-one {
      background: linear-gradient(to right, #19a8cf 0%, #19a8cf 30%, white 30%, white 100%);
    }

    img {
      padding-right: 45px;
    }
  }

  .about__part-two {
    background-color: #6a92ad;
    margin-bottom: 45px;

    @media (min-width: 768px) {
      padding-top: 45px;
    }

    &__video {
      margin-bottom: -45px;
    }

    &__text {
      img {
        padding: 30px 0;
      }
    }
  }
}
