#section-about {
  background-color: #47b7cf;
  padding: 30px 0 45px;

  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    &__title {
      color: #fff;
      font-family: $ff-raleway;
    }
  }

  .js-team-carousel {
    padding-left: 30px;
    padding-right: 30px;
  }

  .team-card {
    padding: 0 15px;
    margin-bottom: 60px;
    position: relative;

    &__image {
      transition: box-shadow 0.3s ease;
      border: solid 3px #fff;
      border-radius: 12px;
      margin-bottom: 15px;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
    }

    &__name {
      color: #fff;
      font-family: $ff-raleway;
      margin-bottom: 0;
    }

    &__click-more {
      line-height: 1.2;
      color: #023963;
      text-decoration: underline !important;
    }

    &:hover {
      .team-card__image {
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.31);
      }
    }
  }
}
