#slider {
  height: 36.45833vw !important;

  //.swiper-slide.slide1 {
  //  background-image: url('assets/slide1.jpg');
  //  background-position: 30% center;
  //}
  //.swiper-slide.slide2 {
  //  background-image: url('assets/slide3.jpg');
  //}
  //.swiper-slide.slide3 {
  //  background-image: url('assets/slide2.jpg');
  //  background-position: 30% center;
  //}

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1 {
    //.slide__title {
    //  text-shadow: 0 3px 10px #000;
    //  color: #fff;
    //  line-height: 0.9;
    //  margin-bottom: 0;
    //  font-family: $ff-raleway;
    //  font-weight: 700;
    //
    //  @include font-size(82px, 75px);
    //}
    //
    //.slide__byline {
    //  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    //  color: #fff;
    //  font-family: $ff-tav;
    //  font-style: italic;
    //  line-height: 1;
    //  margin-bottom: 10px;
    //  font-weight: 500;
    //}
    .slider-caption {
      text-align: right;
      padding-right: 30px;
      border-right: solid 2px #979797;
    }

    .slide__copy {
      font-weight: 700;
      font-family: $ff-mont;
      color: #5f5f5e;
      line-height: 1;
      margin-bottom: 15px;
      margin-top: 45px;
      letter-spacing: 2px;
    }
  }

  .slide2 {
    .slider-caption {
      text-align: right;
      border-right: solid 2px #979797;
      padding: 30px 30px 30px 0;
    }

    .slide__title {
      font-family: $ff-mont;
      color: #19a8cf;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 15px;

      @include font-size(59px, 42px);
    }

    .slide__byline {
      font-family: $ff-mont;
      color: #5f5f5e;
      font-weight: 100;
      line-height: 1;
      margin-bottom: 15px;

      @include font-size(40px, 30px);
    }

    .slide__preventative {
      font-family: $ff-lato;
      font-weight: 700;
      color: #60605f;

      @include font-size(32px, 26px);
    }
  }

  .slide3 {
    .slider-caption {
      text-align: right;
      border-right: solid 2px #979797;
      padding: 30px 30px 30px 0;
    }

    .slide__title {
      font-family: $ff-mont;
      color: #19a8cf;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 15px;

      @include font-size(56px, 42px);
    }

    .slide__byline {
      font-family: $ff-mont;
      color: #5f5f5e;
      font-weight: 100;
      line-height: 1;
      margin-bottom: 15px;

      @include font-size(52px, 39px);
    }

    .slide__copy {
      font-family: $ff-lato;
      font-weight: 400;
      color: #60605f;
      font-size: 18px;
      padding: 20px 0;
    }
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
