#section-specials {
  background-image: url('/assets/reviews-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;

  .heading {
    padding: 30px 0;
    margin-bottom: 45px;
    background-color: rgba(255, 255, 255, 0.8);

    &__title {
      color: #65b624;
      line-height: 1;
      margin-bottom: 10px;
    }

    &__sub-title {
      color: #373737;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1;
    }

    &__byline {
      color: #19a8cf;
      font-weight: 700;
      font-family: $ff-mont;
      line-height: 1;
      margin-bottom: 15px;
    }
  }

  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;

      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .specials-card {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: 30%;
    position: relative;
    border-radius: 0;

    &__top {
      //border-bottom: 44px solid turquoise;
      padding-top: 20px;
      border-top-left-radius: 45px;
      border-top-right-radius: 45px;
    }

    &__bottom {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__cost {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 151px;
      height: 151px;
      //border: solid 4px white;
      border-radius: 50%;
      color: white;
      font-weight: 700;
      font-family: $ff-open;
      font-size: 90px;

      &::before {
        content: '$';
        position: absolute;
        font-size: 32px;
        left: 15px;
        top: 25px;
        font-family: $ff-lato;
        font-weight: 400;
      }
    }

    &__savings {
      font-family: $ff-lato;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }

    &__title {
      font-family: $ff-lato;
      font-weight: 700;
      line-height: 1.1;
      color: #fff;
      margin-bottom: 15px;
    }

    &__copy {
      color: #fff;
      line-height: 1.4;
      margin-bottom: 90px;
      font-size: 16px;
      font-family: $ff-open;
    }

    &__codes {
      font-size: 14px;
      margin-bottom: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
    }

    &:nth-child(1) {
      background-color: rgba(101, 182, 36, 0.8);

      .specials-card__cost {
        background-color: #406b09;
      }
    }

    &:nth-child(2) {
      background-color: rgba(60, 138, 199, 0.8);

      .specials-card__cost {
        background-color: #00659e;
      }
    }

    &:nth-child(3) {
      background-color: rgba(27, 162, 199, 0.8);

      .specials-card__cost {
        background-color: #007392;
      }
    }
  }
}
