#section-specials {
  background-image: linear-gradient(to bottom, #fff, #d1ecf2);
  padding: 30px 0 45px;

  .heading {
    margin-bottom: 45px;

    &__title {
      color: #005ca1;
      line-height: 1;
      margin-bottom: 10px;
    }

    &__sub-title {
      color: #023963;
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 0;
      line-height: 1;
    }

    &__byline {
      color: #ff7a00;
      font-style: italic;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 15px;
    }
  }

  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;

      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .specials-card {
    background-color: #fff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 32%;
    position: relative;
    border-radius: 12px;

    &__top {
      //border-bottom: 44px solid turquoise;
      padding-top: 20px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &__bottom {
      padding: 15px 25px 45px;
    }

    &__cost {
      position: relative;
      display: inline-block;
      color: white;
      font-weight: 700;
      font-size: 74px;
      line-height: 1;

      &::before {
        content: '$';
        position: absolute;
        font-size: 45px;
        left: -20px;
        top: 18px;
        font-family: $ff-raleway;
        font-weight: 700;
      }

      &--free::before {
        content: none;
      }
    }

    &__savings {
      font-weight: 700;
      font-family: $ff-lato;
      font-size: 21px;
      color: #fff;
    }

    &__title {
      font-family: $ff-raleway;
      font-weight: 700;
      line-height: 1.1;
      color: #fff;
      margin-bottom: 15px;

      @include font-size(28px, 23px, 24px, 23px, 21px);
    }

    &__copy {
      color: #023963;
      line-height: 1.4;
      margin-bottom: 20px;
      font-size: 18px;
      font-family: $ff-lato;
    }

    &__codes {
      font-size: 14px;
      margin-bottom: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #023963;
    }

    &:nth-child(1) {
      .specials-card__top {
        background-color: #47b7cf;
      }

      .specials-card__savings {
        color: #47b7cf;
      }
    }

    &:nth-child(2) {
      .specials-card__top {
        background-color: #f3b40e;
      }

      .specials-card__savings {
        color: #f3b40e;
      }
    }

    &:nth-child(3) {
      .specials-card__top {
        background-color: #005ca1;
      }

      .specials-card__savings {
        color: #005ca1;
      }
    }
  }
}
