#section-services {
  background-image: linear-gradient(to bottom, #fff, #fff 60%, #ffce4e);
  padding: 30px 0 45px;

  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    &__title {
      color: #005ca1;
      margin-bottom: 15px;
    }

    &__sub-title {
      color: #47b7cf;
      font-style: italic;
      font-weight: 600;
    }
  }

  .feature {
    &__title {
      color: #47b7cf;
      font-family: $ff-raleway;
      margin: 10px 0;
    }

    &__copy {
      color: #023963;
      font-weight: 400;
      margin-bottom: 0;
      line-height: 1.2;
    }

    &__click {
      color: #023963;
      text-decoration: underline !important;
    }
  }

  .service {
    padding: 0 20px;

    &__image {
      border-radius: 12px;
    }

    &__title {
      color: #005ca1;
      font-weight: 700;
      margin: 10px 0 0;
      font-family: $ff-raleway;
    }

    &__click {
      text-decoration: underline !important;
      color: #023963;
      line-height: 1.2;
    }

    &s {
      padding: 45px 20px 0;
    }
  }
}
