#section-services {
  .services-one {
    .service-card {
      &__title {
        font-family: $ff-mont;
        font-weight: 100;
        padding-top: 15px;
        margin-bottom: 10px;
        line-height: 1;
        color: #5f5f5e;

        span {
          font-weight: 400;
          color: #19a8cf;
        }
      }

      &__copy {
        color: #000;
        font-size: 16px;
      }

      .btn {
        margin-left: 30px;
        margin-bottom: 30px;
      }

      &__title,
      &__copy {
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 768px) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    .col-sm-6 {
      padding: 0 0 30px;
    }
  }

  .services-two {
    .service-card {
      position: relative;

      &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
      }

      &__title {
        color: #fff;
        margin-bottom: 0;
        line-height: 1;
      }

      &:hover {
        cursor: hand;

        .service-card__title {
          text-decoration: underline;
        }
      }
    }

    .col-sm-3 {
      padding: 0;
    }

    //Fix for mobile
    @media (max-width: 767px) {
      .service-card {
        padding-bottom: 15px;
      }
    }

    .row {
      > div:nth-child(2n + 1) {
        .service-card__text {
          background-color: #19a8cf;
        }
      }

      > div:nth-child(2n) {
        .service-card__text {
          background-color: #4d92c9;
        }
      }
    }
  }
}
